.work_history_point {
  left: 0;
  text-align: left;
  padding-top: 1%;
}

.work_history_point ul{
  left: 0;
  padding-top: 1%;
  padding-left: 5%;
  text-align: left;
  font-size: 14px;
}

.title{
  font-weight: bold;
}

.subtitle{
  font-size: 12px;
  font-style: italic;
}

.timeframe{
  font-size: 12px;
  font-style: italic;
  text-align: right;
}